@inherits LayoutComponentBase

@using FitWifFrens.Web.Components.Account

@inject IdentityUserAccessor UserAccessor

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <div>FitDollars: <span class="fw-bold">@_userBalance</span></div>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {

    private decimal _userBalance;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserAccessor.GetUserAsync(HttpContext);

        if (user != null)
        {
            _userBalance = user.Balance;
        }
    }
}
